#main {
    display: flex;
    /* justify-content: space-evenly; */
    width:100%;
   
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

#img50{
    width:100%
}

#img50>img{
    width:70%
}

#unhide{
    display: none;
}

#head {
    display: flex;

   margin-left:5% ;
    width:100%;
justify-content: space-around;

}

#head>a {
    
    text-decoration: none;
}
#head >a {
    font-size: 1vw;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
   line-height: 26px; 
  color: #6a6d75;
    margin-top:1%;
    width: 200%;
}
#head :nth-child(2){
    margin-left:2%
}

#head-right {
    display: flex;
    gap: 5%;
    padding-left:30%;
    margin-right:10%;
margin-top:0.5%;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#head-right :nth-child(1)>p {
color:#6a6d75;
font-size: 1vw;
}

#head-right :nth-child(2)>button {
    background-color: #f26226;
    margin-left: 10%;
  
 width:170%;
    font-size: 1vw;
    color: white;
   height:40px;
border:none;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
@media screen and (max-width:1200px) {

    .head-right :nth-child(1)>p {
        color:#6a6d75;
        font-size: 1.2vw;
        }
    .head-right :nth-child(2)>button {
        background-color: #f26226;
        margin-left: 10%;
      
     width:170%;
        font-size: 1.2vw;
        color: white;
       height:32px;
    border:none;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    }   

    #head >a {
        font-size: 1.2vw;
       
    }
    
}

@media screen and (min-width:601px) and (max-width:900px) {



    #head {
        display: flex;
        width:100%;
    gap:70%
    
    }
    #img50{
        width:50%
    }
    
    #img50>img{
        width:75%
    }
    #unhide{
        display: block;
        width: 10%;
    }
    #unhide>i{
        width: 100%;
    }
    .hide{
        display: none;
    }
    .hide1{
        display: none;
    }

    #head-right{
        display: none;
    }
}
@media screen and (max-width:600px) {



    #head {
        display: flex;
        width:100%;
    gap:70%
    
    }
    #img50{
        width:50%
    }
    
    #img50>img{
        width:100%
    }
    #unhide{
        display: block;
        width: 10%;
    }
    #unhide>i{
        width: 100%;
    }
    .hide{
        display: none;
    }
    .hide1{
        display: none;
    }

    #head-right{
        display: none;
    }
}

#navsmall{
 display: none;
   margin-left:70%;
    height: 90vh;
    border:1px solid black;
    font-size: 1rem;
    font-weight: 400;
    width:30%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}

#navsmall1{
color:black;
margin-left: 5%;
display:flex;
justify-content: space-between;
width:80%;
}
#navsmall1>div{
    margin-top: 3%;
}

.shift{
    margin-left: 5%;
}
#navsmall>button{
width:90%;
padding:3%;
margin: auto;
display: block;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 1rem;
}
#smallbtn1{
    background-color: rgb(242,98,38);
    color:white;
    border: none;
    
}
#smallbtn2{
    background-color: white;
   
    color: #002684;
    border: 1px solid gray;
  
}





#con{
    display:flex;
    gap:5%;
    width:90%;
    margin:auto;
    height: 850px;
    margin-top:50px;
    margin-bottom: -50px;
}

#con :nth-child(1)>img{
width:680px;
height: 600px;

}

#con :nth-child(2)>h1{
    font-size:30px;
    color:#002c9b;
    font-family: FONT-FAMILY
    "Chronicle Ssm";
}
#con :nth-child(2) :nth-child(2){
    color:rgb(172, 15, 132);
    font-size: 18px;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    margin-top :-1%;

}
#con :nth-child(2) :nth-child(3){
color:red;
font-size: 15px;
margin-top :-1%;
}
#con :nth-child(2) :nth-child(4){
color:#002c9b;
margin-top :-1%;
}
#con :nth-child(2) :nth-child(5){
    color:black;
    font-size: 19px;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    margin-top :-1%;
}
#con :nth-child(2) :nth-child(6){
font-size: 16px;
color:rgb(158, 14, 158);
text-align: start;
line-height: 32px;
margin-top :-4%;
}
#con :nth-child(2) :nth-child(7){
width:200px;
height:50px;
font-size: 16px;
background-color: #f26226;
color:white;
border: none;
margin-top:2%;
line-height: 50px;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;

}





#mid10{
    display: flex;
    width:100%;
    justify-content: space-around;
    width:90%;
    margin:auto;
    margin-top:-150px
}

#flexing :nth-child(1){
   font-size: 14px; 
   font-family: FONT-FAMILY
   "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
text-align: center;


}
#flexing1{
    display: flex;
    gap:40px;
    width:33%;
   
}
#flexing1 :nth-child(1){
    width:30px;
    height: 24px;
    color: #303236;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
   margin-right: 10px;
}
#flexing1 :nth-child(2){
    width:30px;
    height: 24px;
}
#flexing1 :nth-child(3){
    width:30px;
    height: 24px;
}
#flexing1 :nth-child(4){
    width:30px;
    height: 24px;
}
#flexing2 :nth-child(1){
font-family: FONT-FAMILY
HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
font-size: 14px;
line-height: 16.8px;
color: #303236;
text-align: center;
}
#flexing4 :nth-child(1){
    width:330px;
    height: 34px;
}
#flexing4 :nth-child(2){
    width:55px;
    height: 40px;
    color: white;
    background-color: #002684;
    border: 2px white;
    margin-right:10px
}
#flexing2 :nth-child(3){
  text-align: center;
  font-family: FONT-FAMILY
  "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-size: 14px;
  color: #6a6d75;
}
#flexing3 :nth-child(1){
font-size: 14px;
color: #303236;

}


#flexing5{
    display: flex;
    gap:2px
}
#flexing5 :nth-child(1){
    width: 60px;
    height: 60px;
}
#flexing5 :nth-child(2){
    margin-top:-3px
}


#second>div>img{
    width:127px;
    height:37px;

    
    }
    footer{
        display:flex;
       background-color:#0f346c;
       padding-bottom: 100px;
       margin-top:5%
    }

#first{
    display:flex;
    width:70%;
    gap:100px;
    margin-left: 80px;
    padding-top:50px;
    font-size: 14px;
    color:#a1bce6;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#second{
    padding-top: 50px;
    color:#a1bce6;
    margin-left:50px;
    font-size: 14px;
    text-align: right;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;

}
#merge{
    margin-top:-80px;
    font-size:16px;
    line-height: 24px;
    margin-left:80px;
    color:white;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#span{
    color:#a1bce6;
}