#main {
    display: flex;
    /* justify-content: space-evenly; */
    width:100%;
    height:60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}

#head img {
    width: 100%;
    height: 43px;

}

#head {
    display: flex;
 
   
    width:100%;
gap:1%;
padding-left: 3%;

}

#head>a {
    
    text-decoration: none;
}
#head >a {
    font-size: 14px;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    line-height: 26px;
  color: #6a6d75;
    margin-top:1%;
    width: 200%;
}
#head :nth-child(2){
    margin-left:2%
}

.head-right {
    display: flex;
    gap: 0.5%;
    padding-left:40%;
    margin-right:4%;
margin-top:0.5%;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
.head-right :nth-child(1)>p {
color:#6a6d75
}
.head-right :nth-child(2)>button {
    background-color: #f26226;
    margin-left: 10%;
 width:170%;
    font-size: 14px;
    color: white;
   height:40px;
border:none;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

#mid>h1{
    font-size:58px;
    font-family: FONT-FAMILY
"Chronicle Deck", Times, serif;
color:#002c9b;
 text-align: center;
}
#mid1{

display: flex;
justify-content: center;
gap: 50px;

}
#mid1>p{
    font-size: 15px;
    line-height: 16px;
    color:#002c9b;
    letter-spacing: 4.05px;
    font-weight: 900;
  font-style:   FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#box{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#mid2{
    
display: flex;
justify-content: center;
gap: 100px;
margin-right:20px
}
#mid2>div{
    font-size: 18px;
    line-height: 16px;
    color:#002c9b;
 
    font-weight: 900;
    font-family: FONT-FAMILY
    "Chronicle Deck", Times, serif
}
#mid2 >div:hover{
    border: none;
 border-bottom: 4px solid #002c9b;
 

 /* border-color: #002c9b; */
 cursor: pointer;
}
hr{
 
 width: 70%;
 height: 1px;
 background-color: #002c9b;
}
#mid3{
    padding-top:50px;
    width:550px;
    font-size: 16px;
    line-height: 24px;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    color:#002c9b;
    text-align: center;
    margin: auto;
}

#mid4{
    padding-top: 70px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width:93%;
    margin:auto;
    
}
#mid4 >p{
color:#002684;
letter-spacing: 4.86px;
font-weight: bold;

}
#mid4 >button{
    width: 208px;
    height: 50px;
    color: white;
    background-color: #002684;
    border-radius: 50px;
    font-size: 18px;
    border:none;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#mid5{
    padding-top:40px;
    display: grid;
    width:90%;
    grid-template-columns: repeat(3,1fr);
    margin:auto;
    gap:20px;
  
}
#mid5>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width:100%;
border-radius:10px 10px 10px 10px;

}
#mid5>div>img{
width:100%;
height:200px;
border-radius:10px 10px 0px 0px;
transition: transform 1s;
}
#mid5>div>img:hover{
    transform: scale(1.1);
}
#mid5>div>h1{
    color:#002684;
    font-size: 20px;
    font-family: FONT-FAMILY
    "Chronicle Deck", Times, serif;
    margin-left :10px;

}
#mid5>div :nth-child(3){
color:#6a6d75;
font-size: 16px;
font-family: FONT-FAMILY
HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
margin-left :10px;

}
#mid5>div :nth-child(4){
color:#00a0df;
font-size: 16px;
margin-left :10px;
padding-top:20px

}

#build{
    display:flex;
    width:70%;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    border-radius: 10px;
  
}
#build1{
    display: flex;
    gap:20%
}
#wow{
    width:500px;
margin-left:10%
}
#wow3{
    display: flex;
    margin:auto;
    
   
}

#wow4{
    display: flex;
    gap:10%;
    width:400px
    
}
#wow :nth-child(2){
    width:75%;
    color:#6a6d75;
    font-size: 18px;
    line-height: 18px;
}
#wow :nth-child(1){
    color:#002684
}
#p1{
    color:black;
    font-size: 20px;
}
#p2{
    color:black;
    font-size: 20px;
}
#build1>div :nth-child(2){
    font-size: 14px;
}
#wow3{
    margin-top: 30px;
    gap:10%
}
#wow3 p{
color:#6a6d75;
font-size: 16px;
}
#wow4 p{
    color:#6a6d75;
    font-size: 16px;
    }
    #left{
    
      width:400px
    }
    #b3>button{
        margin-top:10%;
width:70px;
color:blue;
border: none;
border-radius: 10px;
line-height: 20px;
    }
    #b2>button{
        margin-top:6%;
width:70px;
color:blue;
line-height: 20px;
border: none;
border-radius: 10px;
    }
    
    #CONT>button{
        border:none;
        margin-top:8%;
        border-radius: 15px;
        font-size: 14px;
        color:white;
        background-color: #00a0df;
        width:40%;
        line-height: 30px;
        margin-left:50%
    }
    #mid7{
        padding-top: 5%;
    }
#mid6{
margin-top: 70px;
font-size: 18px;
display: flex;
justify-content: space-between;
width:100%;
margin:auto;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
#mid6 >p{
color:#002684;
letter-spacing: 4.86px;
font-weight: bold;
margin-left: 50px;

}
#mid6 >button{
width: 208px;
height: 50px;
color: white;
background-color: #002684;
border-radius: 50px;
font-size: 18px;
border:none;
margin-right:50px;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#mid8{
padding-top:40px;
display: grid;
width:90%;
grid-template-columns: repeat(3,1fr);
margin:auto;
gap:20px;

}
#mid8>div{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width:100%;
border-radius:10px 10px 10px 10px;

}
#mid8>div>img{
width:100%;
height:200px;
border-radius:10px 10px 0px 0px;
transition: transform 1s;
}
#mid8>div>img:hover{
transform: scale(1.1);
}
#mid8>div>h1{
color:#002684;
font-size: 20px;
font-family: FONT-FAMILY
"Chronicle Deck", Times, serif;
margin-left :10px;

}
#mid8>div :nth-child(3){
color:#6a6d75;
font-size: 16px;
font-family: FONT-FAMILY
HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
margin-left :10px;

}
#mid8>div :nth-child(4){
color:#00a0df;
font-size: 16px;
margin-left :10px;
padding-top:20px

}
#mid10{
margin-top: 70px;
 font-size: 18px;
 display: flex;
 justify-content: space-between;
 width:100%;
 margin:auto;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
#mid10 >p{
color:#002684;
letter-spacing: 4.86px;
font-weight: bold;
margin-left: 50px;

}
#mid10 >button{
 width: 208px;
 height: 50px;
 color: white;
 background-color: #002684;
 border-radius: 50px;
 font-size: 18px;
 border:none;
 margin-right:50px;
 font-family: FONT-FAMILY
 "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

#mid11{
padding-top:40px;
display: grid;
width:90%;
grid-template-columns: repeat(3,1fr);
margin:auto;
gap:20px;

}
#mid11>div{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width:100%;
border-radius:10px 10px 10px 10px;

}
#mid11>div>img{
width:100%;
height:200px;
border-radius:10px 10px 0px 0px;
transition:transform 1s;
}

#mid11>div>img:hover{
transform: scale(1.1);
}

#mid11>div>h1{
color:#002684;
font-size: 20px;
font-family: FONT-FAMILY
"Chronicle Deck", Times, serif;
margin-left :10px;

}
#mid11>div :nth-child(3){
color:#6a6d75;
font-size: 16px;
font-family: FONT-FAMILY
HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
margin-left :10px;

}
#mid11>div :nth-child(4){
color:#00a0df;
font-size: 16px;
margin-left :10px;
padding-top:20px

}

#mid13{
margin-top: 70px;
 font-size: 18px;
 display: flex;
 justify-content: space-between;
 width:100%;
 margin:auto;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
#mid13 >p{
color:#002684;
letter-spacing: 4.86px;
font-weight: bold;
margin-left: 50px;

}
#mid13 >button{
 width: 208px;
 height: 50px;
 color: white;
 background-color: #002684;
 border-radius: 50px;
 font-size: 18px;
 border:none;
 margin-right:50px;
 font-family: FONT-FAMILY
 "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

#mid14{
padding-top:40px;
display: grid;
width:90%;
grid-template-columns: repeat(3,1fr);
margin:auto;
gap:20px;

}
#mid14>div{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width:100%;
border-radius:10px 10px 10px 10px;

}
#mid14>div>img{
width:100%;
height:200px;
border-radius:10px 10px 0px 0px;
transition: transform 1s;
}

#mid14>div>img:hover{
transform: scale(1.1);
}
#mid14>div>h1{
color:#002684;
font-size: 20px;
font-family: FONT-FAMILY
"Chronicle Deck", Times, serif;
margin-left :10px;

}
#mid14>div :nth-child(3){
color:#6a6d75;
font-size: 16px;
font-family: FONT-FAMILY
HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
margin-left :10px;

}
#mid14>div :nth-child(4){
color:#00a0df;
font-size: 16px;
margin-left :10px;
padding-top:20px

}

@media only screen and (max-width: 600px){
    #mid5{
        grid-template-columns: repeat(1,1fr);
    }
    #mid8{
        grid-template-columns: repeat(1,1fr);
    }
    #mid11{
        grid-template-columns: repeat(1,1fr);
    }
    #mid14{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media only screen and (min-width: 601px) and (max-width: 900px){
    #mid5{
        grid-template-columns: repeat(2,1fr);
    }

    #mid8{
        grid-template-columns: repeat(2,1fr);
    }
    #mid11{
        grid-template-columns: repeat(2,1fr);
    }
    #mid14{
        grid-template-columns: repeat(2,1fr);
    }
  } 


/* foooter//// */
footer{
    display:flex;
   background-color:#0f346c;
   padding-bottom: 100px;
   margin-top:5%
}
#first{
    display:flex;
    width:70%;
    gap:7%;
    margin-left: 6.5%;
    padding-top:3.5%;
    font-size: 14px;
    color:#a1bce6;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#second{
    padding-top: 3.5%;
    color:#a1bce6;
    margin-left:6.5%;
    font-size: 14px;
    text-align: right;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;

}
#second>div>img{
    width:127px;
    height:37px;
    
    }
#merge{
    margin-top:-5%;
    font-size:16px;
    line-height: 24px;
    margin-left:6.5%;
    color:white;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#span{
    color:#a1bce6;
}