#main {
    display: flex;
    /* justify-content: space-evenly; */
    width:100%;
    height:60px
}

#head>img {
    width: 94px;
    height: 43px;

}

#head {
    display: flex;
 
   padding-left:60px;
    width:100%;
justify-content: space-around;

}

#head>p {
    font-size: 14px;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    line-height: 26px;
    color: #6a6d75;
}

.head-right {
    display: flex;
    gap: 10px;
    padding-left: 500px;
    margin-right:100px;
margin-top:8px;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
.head-right :nth-child(1)>p {
color:#6a6d75
}
.head-right :nth-child(2)>button {
    background-color: #f26226;
    margin-left: 10px;
 width:103px;
    font-size: 14px;
    color: white;
   height:40px;
border:none;
font-family: FONT-FAMILY
"Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

#append {
    position: relative;
    top: -500px;
    width: 350px;
    right: -100px;
    font-size: 20px;
    color: #002684
}

#append>button {
    width: 208px;
    height: 50px;
    color: white;
    background-color: #002684;
    border-radius: 50px;
    font-size: 18px;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;

}
/* main content's css here */





#heading{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #303236;
    font-family: Chronicle Deck, Times, serif;
}
#heading+p{
     text-align: center;
}
#mid-container{
    padding: 40px 50px;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    width: 1200px;
    height: auto;
    justify-content: space-evenly;
}
#mid-container>div{
    justify-content: space-between;
    /* border: 1px solid green; */
    width: 550px;
}
#mid-container>div:nth-child(1){
    padding-left: 24px;
    display: block;
}

#mid-container>div:nth-child(2){
    width: .5px;
    border: none;
    background-color: #6a6d75;
    margin-top: 40px;
    margin-bottom:20px;
}
#mid-container>div:nth-child(3){
    padding-left: 24px;
    display: block;
}
.div-heading{
    text-align: center;
}
.prefrence-card{
    font-family: Cera Pro, HelveticaNeue, Helvetica Neue, HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    display: flex;
    align-items: center;
    width: 500px;
    height: 84px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 0 0 10px 0 ;
    border-radius:3px ;
    border: 0.5px solid rgb(216, 216, 216);
}

.prefrence-card>div{
    margin-left:40px;
}
.prefrence-card>div>h3{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
  
 
}
.prefrence-card>div>p{
    color: #6a6d75;
    margin-top: 0;
    padding-top: 5px;
    font-size: 16px;
}

.prefrence-card:hover{
    cursor: pointer;
    border:2px solid #002684;
    fill: #002684;

}
.prefrence-card>div>h3:hover{
    color: #002684;
}
.preferred-logo{
    width: 43px;
    height: 43px;
    fill: none;
}
.preferred-logo:hover{
    fill:#002684;
    border: none;
}
#choose{
    width:400px;
    height: 84px;
    margin: 0 0 10px 0 ;
    border-radius:3px ;
    font-size: 17px;
    text-align: center;
    line-height: 24px;
    color: #6a6d75;
    font-style: italic;
 
}
.div-plan{
    justify-content: space-between;
    display: flex;
    margin-left: 40px;
    width: 483px;
    height: 40px;
    margin-bottom: 22px;
}

.div-plan>div>button{
    background-color:none;
    padding: 0;
    width: 50px;
    height: 40px;
    border: none;
}
#summary-container{
    background-color: #f8f9fa;
    margin-left: 40px;
    width: 483px;
    height: 180px;
    border-radius: 10px;
    margin-top: 12px;
    padding-left: 16px;
    padding-top:6px;
}
#summary-container>h3{
    margin-bottom: 5px;
}
#summary-container>div{
    /* border: 1px solid green; */
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
}
#summary-container>div>p{
    margin-top:1px ;
    margin-bottom: 15px;
}
#summary-container>div:nth-child(4){
    margin-top: 10px;
    font-size: large;

}
#summary-container>div>p:nth-child(2){
 font-weight: bolder;
 color:rgb(62, 61, 61);
}
#btn{
    text-align: center;
    margin-top: 34px;
    margin-bottom: 18px;
}
#btn>button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 13px;
    line-height: 14.95px;
    background-color: #00a0df;
    color: white;
    font-weight: bold;
}
#btn>button:hover{
    background-color: #5cbfe6;
   
}
#learn-more{
    margin: auto;
    width: 255px;
    height: 72px ;
    color: #6a6d75;
    line-height: 24px;
    font-size: 14px;
}
#learn-more>a{
    margin-left: 92px;

}
#blue-container{
    background-color: #002684;
    margin-top: 100px;
    padding-bottom: 175px;
}
#blue-container>div{
    padding-top: 96px;
    text-align: center;
}
#blue-container>div>h3{
    text-align: center;
    color: white;
    font-size: 36px;
    font-family: cera pro,Arial,sams-serif;
    line-height: 38.16px;
    letter-spacing: 5px;

}
#blue-container>div>h1{
    text-align: center;
    color:#00a0df;
    font-size: 45px;
    font-family: chronicleDeck;
    line-height: 54.9px;
    letter-spacing: 5px;
    font-weight: bolder;
}

#grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    margin: auto;
    gap: 30px;
    color: white;
}
#grid-3>div>h3{
    font-weight: bold;
    margin-bottom: 30px;
}
#grid-3>div>p{
    line-height: 24px;
    font-size: 18px;
    font-family: Cera-pro,arial,sans-serif;
}
#thoughts{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;
    background-color: #f5f6f8;
}
#thoughts>div>h1{
    font-size: 30px;
    line-height: 38.1px;
    color:#002684;
    font-weight: bolder;
}
#thoughts>div{
    margin: auto;
    width: 60%;
}
#thoughts>div>hr{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 3px;
    background-color: #00a0df;

}
#thoughts>div>p{
    letter-spacing: 2px;
    color:#002c9b;
    font-weight: bold;
}
#head-faq{
    text-align: center;
    color: #303236;
    font-size: 45px;
    line-height: 54.9px;
    font-weight: bolder;
    padding-top: 100px;
    font-family:chronicle Ssm,Georgia, 'Times New Roman', Times, serif;
}
#faqs{
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
    padding: 24px;
    justify-content: space-between;
    font-family: Cera pro,Arial, Helvetica, sans-serif;
}
#faqs>div{
width: 520px
}
#faqs>div>p{
    color: #6a6d75;
    font-size: 15px;
    line-height: 25.5px;
}
#faqs>div>div>p>a{
    text-decoration: none;
    font-weight: bold;
}
#faqs>div>div>a{
    font-weight: bold;
    text-decoration: none;
}
#faq-btn{
    text-align: center;
}
#faq-btn>button{
    width: 226px;
    height: 42px;
    border-radius: 50px;
    border:2px solid darkblue ;
    color: #002684;
    font-weight: bold;
    background-color: white;

}
/* main content's css here */























#mid10{
   
    display: flex;
    width:1342px;
    justify-content: space-around;
    width:90%;
    margin:auto;
    margin-top:50px
}
#flexing :nth-child(1){
   font-size: 14px; 
   font-family: FONT-FAMILY
   "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
text-align: center;

}
#flexing1{
    display: flex;
    gap:40px;
    width:33%;
   
}
#flexing1 :nth-child(1){
    width:30px;
    height: 24px;
    color: #303236;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
   margin-right: 10px;
}
#flexing1 :nth-child(2){
    width:30px;
    height: 24px;
}
#flexing1 :nth-child(3){
    width:30px;
    height: 24px;
}
#flexing1 :nth-child(4){
    width:30px;
    height: 24px;
}
#flexing2 :nth-child(1){
font-family: FONT-FAMILY
HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
font-size: 14px;
line-height: 16.8px;
color: #303236;
text-align: center;
}
#flexing4 :nth-child(1){
    width:330px;
    height: 34px;
}
#flexing4 :nth-child(2){
    width:55px;
    height: 40px;
    color: white;
    background-color: #002684;
    border: 2px white;
    margin-right:10px
}
#flexing2 :nth-child(3){
  text-align: center;
  font-family: FONT-FAMILY
  "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-size: 14px;
  color: #6a6d75;
}
#flexing3 :nth-child(1){
font-size: 14px;
color: #303236;

}


#flexing5{
    display: flex;
    gap:2px
}
#flexing5 :nth-child(1){
    width: 60px;
    height: 60px;
}
#flexing5 :nth-child(2){
    margin-top:-3px
}

/* #flexing5{
    display: flex;
} */



#second>div>img{
width:127px;
height:37px;

}
footer{
    display:flex;
   background-color:#0f346c;
   padding-bottom: 100px;
}
#first{
    display:flex;
    width:70%;
    gap:100px;
    margin-left: 80px;
    padding-top:50px;
    font-size: 14px;
    color:#a1bce6;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#second{
    padding-top: 50px;
    color:#a1bce6;
    margin-left:50px;
    font-size: 14px;
    text-align: right;
    font-family: FONT-FAMILY
    HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;

}
#merge{
    margin-top:-80px;
    font-size:16px;
    line-height: 24px;
    margin-left:80px;
    color:white;
    font-family: FONT-FAMILY
    "Cera Pro", HelveticaNeue, "Helvetica Neue", HelveticaNeueRoman, HelveticaNeue-Roman, "Helvetica Neue Roman", TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;
}
#span{
    color:#a1bce6;
}